.idea/
*.iml
# editors
.vscode

# production
build/

# node
node_modules/
npm-debug-log*
yarn-debug-log*
yarn-error-log*

# msc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# jest
coverage/
